<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
     <p th:text="'fechaChequera, ' + ${fechaChequera} + '!'" />
      <p th:text="'claveInter, ' + ${claveInter} + '!'" />
        <p th:text="'numCuenta, ' + ${numCuenta} + '!'" />
         <p th:text="'saldoChequera, ' + ${saldoChequera} + '!'" />
          <p th:text="'abonoChequera, ' + ${abonoChequera} + '!'" />
           <p th:text="'cargoChequera, ' + ${cargoChequera} + '!'" />
            <p th:text="'corteChequera, ' + ${corteChequera} + '!'" />
             <p th:text="'clienteId, ' + ${clienteId} + '!'" />
              <p th:text="'bancoId, ' + ${bancoId} + '!'" />
</body>
</html>