<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Bank</title>
   </head>
    
   <body>      
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
     <div >

	 	 
	</div>
       
      <div th:if="${errorMessage!=null}"
           style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
       
      <form th:action="@{/sendCargo}" th:object="${sendCargoForm}" method="POST">
            <table>
 
           <tr>
              <td>Cargo Cuenta Id</td>
              <td><input type="text" th:field="*{fromAccountId}"/></td>
           </tr>
           <tr>
              <td>Numero de cuenta</td>
              <td><input type="text" th:field="*{amount}" /></td>
           </tr>           
           <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="Send"/></td>
           </tr>       
         </table>      
   
      </form>
       
   </body>
</html>